
body {
    width: 60%;
    margin: auto;
    text-align: center;
    font-family: Arial;
    top: 50%;
    left: 50%;
}

@media screen and (max-width: 800px) {
    body {
        
        width: 100%;
      
    }
}

table {
    margin-left: auto;
    margin-right: auto;
}

div {
    margin-left: auto;
    margin-right: auto;
}

h2 { font-size: 2.5rem; }

.header {
	 padding: 1rem;
	 margin: 0 0 2rem 0;
	 background: #EFE0BB;
}

h1 {
    font-size: 2rem;
    font-family: Arial, sans-serif;
    text-align: center;
    text-transform: uppercase;
    }

.content {
    display: flex;
}

tx { 
    font-weight: 800;
}


@media screen and (max-width: 500px) /* Mobile */ {
    .content {
        flex-direction: column;
    }
}



    /* toggle in label designing */
    .toggle { 
        position : relative ; 
        display : inline-block; 
        width : 100px; 
        height : 52px; 
        background-color: red; 
        border-radius: 30px; 
        border: 2px solid gray; 
    } 
            
    /* After slide changes */
    .toggle:after { 
        content: ''; 
        position: absolute; 
        width: 30px; 
        height: 30px; 
        border-radius: 50%; 
        background-color: gray; 
        top: 1px;  
        left: 1px; 
        transition:  all 0.5s; 
    } 
            
    /* Toggle text */
    p { 
        font-family: Arial, Helvetica, sans-serif; 
        font-weight: bold; 
    } 
            
    /* Checkbox cheked effect */
    .checkbox:checked + .toggle::after { 
        left : 49px;  
    } 
            
    /* Checkbox cheked toggle label bg color */
    .checkbox:checked + .toggle { 
        background-color: green; 
    } 
            
    /* Checkbox vanished */
    .checkbox {  
        display : none; 
    } 



.mask {
    position: relative;
    overflow: hidden;
    display: block;
    width: 12.5rem;
    height: 6.25rem;
    margin: 1.25rem;
}

.semi-circle {
    position: relative;
    display: block;
    width: 12.5rem;
    height: 6.25rem;
    background: linear-gradient(to right, #3498db 0%, #05b027 33%, #f1c40f 70%, #c0392b 100%);
    border-radius: 50% 50% 50% 50% / 100% 100% 0% 0%;
}

.semi-circle::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    z-index: 2;
    display: block;
    width: 8.75rem;
    height: 4.375rem;
    margin-left: -4.375rem;
    background: #ab7343;
    border-radius: 50% 50% 50% 50% / 100% 100% 0% 0%;
}

.semi-circle--mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 12.5rem;
    height: 12.5rem;
    background: transparent;
    transform: rotate(120deg) translate3d(0, 0, 0);
    transform-origin: center center;
    backface-visibility: hidden;
    transition: all 0.3s ease-in-out;
}

.semi-circle--mask::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0%;
    z-index: 2;
    display: block;
    width: 12.625rem;
    height: 6.375rem;
    margin: -1px 0 0 -1px;
    background: #f2f2f2;
    border-radius: 50% 50% 50% 50% / 100% 100% 0% 0%;
}

.gauge--2 .semi-circle { background: #3498db; }

.gauge--2 .semi-circle--mask { transform: rotate(20deg) translate3d(0, 0, 0); }

#tableReadings { border-collapse: collapse; }

#tableReadings td, #tableReadings th {
    border: 0.5px solid #000000;
    padding: 7px;
  
    
}

#tableReadings tr:nth-child(even){ background-color: #EFE0BB; }

#tableReadings tr:hover { background-color: #ffbbbb; }

#tableReadings th {
    padding: 10px;
    background-color: #312113;
    color: #EFE0BB;
    
    
}
